{{- if .Values.alertmanager.enable }}
apiVersion: v1
data:
{{- if .Values.alertmanager.template  }}
  custom.tmpl: |
{{`
        {{ define "telegram.custom.message" }}
        {{ if gt (len .Alerts.Firing) 0 }}
        游뚿游뚿 FIRING ALERTS 游뚿游뚿
        {{- range .Alerts.Firing }}
        游눤游눤游눤 <b>{{ .Labels.alertname }}</b> 游눤游눤游눤
          {{ .Annotations.message }}
          {{- range $key, $value := .Labels }}
                {{- if ne $key "alertname" }}
                游댳 {{ $key }}: {{ $value }}
                {{- end }}
          {{- end }}
          {{- range $key, $value := .Annotations }}
                {{- if ne $key "message" }}
                游댲 {{ $key }}: {{ $value }}
                {{- end }}
          {{- end }}
        {{- end }}
        {{- end }}
        {{ if gt (len .Alerts.Resolved) 0 }}
        九九 RESOLVED ALERTS 九九
        {{- range .Alerts.Resolved }}
        游릭游릭游릭 <b>{{ .Labels.alertname }}</b> 游릭游릭游릭
          {{ .Annotations.message }}
          {{- range $key, $value := .Labels }}
                {{- if ne $key "alertname" }}
                游댳 {{ $key }}: {{ $value }}
                {{-  end }}
          {{- end }}
          {{- range $key, $value := .Annotations }}
                {{- if ne $key "message" }}
                游댲 {{ $key }}: {{ $value }}
                {{- end}}
          {{- end}}
        {{- end }}
        {{- end }}
        {{- end }} `}}
{{- end }}
{{- if eq .Values.prometheus.config "empty" }}
  custom.tmpl: ""
{{- end }}
kind: ConfigMap
metadata:
  creationTimestamp: null
  name: {{ .Values.alertmanager.name }}-template
{{- end }}
